h1 {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

#errorPlaceholder {
    color: crimson;
    margin-left: auto;
    margin-right: auto;
}

div.registeredTable {
    display: grid;
    justify-content: center;
}

div.registeredTable select {
    margin-right: 3vw;
}

form.registeredTable {
    padding: 1px;
    border: 1px solid #a7a7a7;
}

div.registeredButtons {
    float: right;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #a7a7a7;
}

tr:hover {
    background-color: #f5f5f5;
    cursor: default;
}

